<div class="login-container">
  
    <!-- Header Section -->
    <header class="header">
      
      <h1 class="title">HR AIAIVN</h1>
    </header>
  
    <mat-card class="login-card">
      <h2>Đăng nhập</h2>
      <form (ngSubmit)="onLogin()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="username" name="username" required />
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required />
        </mat-form-field>
  
        <button mat-raised-button color="primary" class="full-width">Đăng nhập</button>
      </form>
  
      <div class="register-link">
        <button mat-button color="accent" [routerLink]="['/register']">Đăng ký</button>
      </div>
    </mat-card>
  
  </div>
  