<mat-toolbar color="primary" class="header">
    <span class="logo">HR AIAIVN</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <span>User Name</span>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard/inforcompany">Bảng tin</a>
        <a mat-list-item routerLink="/dashboard/create-leave-request">Tạo đơn nghỉ phép</a>
        <a mat-list-item routerLink="/dashboard/leave-list">Danh sách đơn nghỉ phép</a>
        <a mat-list-item routerLink="/dashboard/intern-schedule">Đăng kí lịch làm (Intern)</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>